# Project 2 Tests

In [50]:
# Import libraries
import pandas as pd

## Part 2

In [51]:
# Import py file 
from db_connection import create_connection

In [52]:
# Create database connection using valid vault file
engine = create_connection("vault.txt")

In [53]:
# Verify connection works by querying the account table
pd.read_sql_query("""SELECT * 
                     FROM transaction
                     LIMIT 5""", engine)

,txn_id,txn_date,account_id,txn_type_cd,amount,teller_emp_id,execution_branch_id,funds_avail_date,trial104
0,1,2000-01-15,1,CDT,100.0,None,None,2000-01-15,T
1,2,2000-01-15,2,CDT,100.0,None,None,2000-01-15,T
2,3,2004-06-30,3,CDT,100.0,None,None,2004-06-30,T
3,4,2001-03-12,4,CDT,100.0,None,None,2001-03-12,T
4,5,2001-03-12,5,CDT,100.0,None,None,2001-03-12,T

In [54]:
# Test error handling by providing an invalid vault filename
engine2 = create_connection("vaults.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'vaults.txt'

## Part 4

In [62]:
# import transactions py file
from transactions import get_transactions_by_month

In [59]:
# Test valid date
get_transactions_by_month(engine, 1, 2000)

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near ":"
LINE 4:                  WHERE EXTRACT(MONTH FROM txn_date) = :month
                                                              ^

[SQL: SELECT txn_date, txn_id, txn_type_cd, amount, teller_emp_id,
                        execution_branch_id, funds_avail_date, trial104
                 FROM transaction
                 WHERE EXTRACT(MONTH FROM txn_date) = :month
                 AND EXTRACT(YEAR FROM txn_date) = :year
              ]
[parameters: {'month': 1, 'year': 2000}]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [58]:
# Test invalid date 
get_transactions_by_month(engine, 13, 2000)

Invalid month or year

,txn_date,txn_id,txn_type_cd,amount,teller_emp_id,execution_branch_id,funds_avail_date,trial104
0,-1,-1,-1,-1,-1,-1,-1,-1