# Project 2 Tests

In [26]:
# Import libraries
import pandas as pd

## Part 2

In [27]:
# Import py file 
from db_connection import create_connection

In [28]:
# Create database connection using valid vault file
engine = create_connection("vault.txt")

In [29]:
# Verify connection works by querying the account table
pd.read_sql_query("""SELECT * 
                     FROM account
                     LIMIT 5""", engine)

,account_id,product_cd,cust_id,open_date,close_date,last_activity_date,status,open_branch_id,open_emp_id,avail_balance,pending_balance,trial104
0,1,CHK,1,2000-01-15,None,2005-01-04,ACTIVE,2,10,1057.75,1057.75,T
1,2,SAV,1,2000-01-15,None,2004-12-19,ACTIVE,2,10,500.00,500.00,T
2,3,CD,1,2004-06-30,None,2004-06-30,ACTIVE,2,10,3000.00,3000.00,T
3,4,CHK,2,2001-03-12,None,2004-12-27,ACTIVE,2,10,2258.02,2258.02,T
4,5,SAV,2,2001-03-12,None,2004-12-11,ACTIVE,2,10,200.00,200.00,T

In [30]:
# Test error handling by providing an invalid vault filename
engine2 = create_connection("vaults.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'vaults.txt'